# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
*.log
*.gz
# included for npm: dist
compiled

# IDE
.idea

# excluded for npm
server
_include.sh
bin
assets
