<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="thing"></div>
    <p>Learn more: <a href="https://github.com/freeauto/react-express-hotloader">https://github.com/freeauto/react-express-hotloader</a></p>

    <script src="https://unpkg.com/react@15.4.2/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15.4.2/dist/react-dom.min.js"></script>
    <script src="/compiled/loadThing.jsx"></script>
  </body>
</html>
