<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Learn more: <a href="https://github.com/freeauto/react-express-hotloader">https://github.com/freeauto/react-express-hotloader</a></p>
  </body>
</html>
